/*main {
text-align: center;
    margin-left: 150px;    
}
*/
/*
html { 
    background: url(images/food-01.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("images/food-10.png");
}

h1 {
    color: #fff;
    font-weight: bolder;
    margin-top: 35px;
    margin-left: 160px;
}

.btn, .btn-primary, .btn-success {
    font-weight: bolder;
    margin-top: 35px;
    margin-right: 15px;
}

.btn-bottom {
    margin-left: 475px;
    margin-bottom: 25px;
}

h2 {
    color: #fff;
    font-weight: bolder;
    margin-top: 70px;
}

p {
    color: #fff;
    font-size: 20px;
}

.link {
    text-decoration: underline;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #fff;
}