h1 {
    margin-top: 100px;
    margin-bottom: 30px;
}

.justify-content-center {
    margin-left: -120px;
}

label {
    line-height: 50px;
}

p {
    margin-left: -90px;
}

a {
    color: #212529;
}

a:link {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: #212529;
}

.link {
    color: #fff;
}

table {
    margin-right: -10px;
}

